@import "tailwindcss";

@theme inline {
  --font-mona: var(--font-mona-sans);
  --font-inter: var(--font-inter-sans);
}

@layer base{
  @font-face {
    font-family: "roc-Grotesk-Condensed-black";
    src: url("/fonts/Roc_Grotesk_Condensed_Black.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-bold";
    src: url("/fonts/Roc_Grotesk_Condensed_Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-extra-bold";
    src: url("/fonts/Roc_Grotesk_Condensed_ExtraBold.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-extra-light";
    src: url("/fonts/Roc_Grotesk_Condensed_ExtraLight.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-heavy";
    src: url("/fonts/Roc_Grotesk_Condensed_Heavy.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-light";
    src: url("/fonts/Roc_Grotesk_Condensed_Light.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-medium";
    src: url("/fonts/Roc_Grotesk_Condensed_Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "roc-Grotesk-Condensed-thin";
    src: url("/fonts/Roc_Grotesk_Condensed_Thin.otf") format("opentype");
  }

}

@theme {
  --font-roc-Grotesk-Condensed-black: "roc-Grotesk-Condensed-black", "sans-serif";
  --font-roc-Grotesk-Condensed-bold: "roc-Grotesk-Condensed-bold", "sans-serif";
  --font-roc-Grotesk-Condensed-extra-bold: "roc-Grotesk-Condensed-extra-bold", "sans-serif";
  --font-roc-Grotesk-Condensed-extra-light: "roc-Grotesk-Condensed-extra-light", "sans-serif";
  --font-roc-Grotesk-Condensed-heavy: "roc-Grotesk-Condensed-heavy", "sans-serif";
  --font-roc-Grotesk-Condensed-light: "roc-Grotesk-Condensed-light", "sans-serif";
  --font-roc-Grotesk-Condensed-medium: "roc-Grotesk-Condensed-medium", "sans-serif";
  --font-roc-Grotesk-Condensed-thin: "roc-Grotesk-Condensed-thin", "sans-serif";
}

